@use "src/styles/typography" as t;

.root {
  background-color: var(--color-accent);
  color: var(--color-text-primary);
  padding: .5em .75em;
  border-radius: 1.5em;

  border: none;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: .5em;
  align-items: center;
  align-content: center;
}

.icon {
  color: var(--color-primary);
  cursor: pointer;
}

.avatar {
  $size: 2.25em;
  width: $size !important;
  height: $size !important;
}

.text {
  @include t.regular;
}
