.root {
  background-color: white;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: .25rem;
  align-items: center;
}

.icon {
  color: var(--primary);
  cursor: pointer;
}
