$color-primary: #6C8CD5;
$color-accent: #FFD073;
$color-text-primary: #2e2e2e;
$color-danger: #ff8282;
$color-secondary: #b5b5b5;

$color-primary-dark: #06266F;
$color-accent-dark: #A66F00;
$color-text-primary-dark: #f8f8f8;
$color-danger-dark: #ff8282;
$color-secondary-dark: #b5b5b5;
