@use "src/styles/typography";

.root {
  background: /*url("../../assets/img/background.png"),*/
          var(--color-primary);
  background-blend-mode: overlay, normal;
  color: var(--color-text-primary);
  padding: 1em 1.5em;

  display: grid;
  grid-template-columns: min-content auto;
  justify-content: space-between;
  grid-template-areas:
          "logo profile"
          "sync sync";

  row-gap: 1em;
}

.mainPageLink {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: min-content min-content;
  gap: .5rem;

  text-decoration: none;

  grid-area: logo;
}

.logoContainer {
  $size: 2.5em;
  width: $size;
  height: $size;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--color-accent);
  color: var(--color-text-primary);
}

.title {
  @include typography.black;

  font-size: 1.2em;
  margin: 0;
  color: var(--color-text-primary);
}

.profile {
  grid-area: profile;
  justify-self: end;
}

.sync {
  grid-area: sync;
  justify-self: end;
  text-align: right;
}
