@use "../styles/typography";

.header {
  background-color: var(--primary);
  color: #474747;
}

.logo {
  border-radius: 100%;
  background-color: var(--accent);
  padding: 8px;
  box-sizing: content-box;
  width: 1rem;
  height: 1rem;
}

.link {
  text-decoration: none !important;
  color: inherit !important;
}

.title {
  @include typography.black;

  font-size: 1.1em;
  margin: 0;
  display: inline;

  &:hover {
    cursor: pointer;
  }
}
