@use "../styles/typography";

.header {
  background-color: var(--primary);
  color: #474747;
}

.link {
  text-decoration: none !important;
  color: inherit !important;
}

.title {
  @include typography.black;

  font-size: 1.2rem;
  margin: 0;
  display: inline;

  &:hover {
    cursor: pointer;
  }
}
