.li {
  border-radius: 100px;
  padding: 0.25rem 1.5rem;
}

.inActive {
  text-decoration: line-through;
}

.danger {
  background-color: var(--danger);
}

.secondary {
  background-color: var(--secondary);
}

.primary {
  background-color: var(--primary);
}

.price {
  font-weight: 300;
}

.priceCount {
  font-weight: 500;
}

.toggleButton {
  border-radius: 100%;
  background-color: white;
  color: var(--accent);
}
